**.o
**.o{1,2,3,4,5,6,7,8,9}
**.osdi
**.lib
**.dot
/target/
/crates/*/target/
/libs/*/target/
/openvaf/*/target/
/melange/*/target/
/verilogae/*/target/
.direnv
.envrc
cargo-timing*.html
vendor
.maintainer
.commit
wheels
verilogae-egg-info
build
flamegraph.svg
perf.data
verilogae/__pycache__
markus_notes
.vscode/*
